.bicicletas-lista {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicletas-lista ul {
    max-width: 1400px;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.bicicletas-lista li {
    min-width: 280px;
}

.bicicletas-lista img {
    margin-bottom: 16px;
    border-radius: 5px;
}

.bicicletas-lista p {
    padding-left: 20px;
} 

.bicicletas-lista h2 {
    margin-bottom: 20px;
}

.bicicletas-lista h3 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bicicletas-lista h3::before {
    content: "";
    width: 12px;
    height: 8px;
    background: #ffbb00;
    margin-right: 8px;
    transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before {
    width: 24px;
}

@media (max-width: 800px) {
    .bicicletas-lista {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .bicicletas-lista ul {
      gap: 20px;
    }
  }